body {
    background-image: url(/Users/vitalii/Downloads/500_F_198011818_ezUwXVQRiUWY7g4EQlwGzvvCjtvsSuJw.jpg);
}

.container {
    max-width: 700px;
    background-color: rgb(72, 195, 233);
    margin: auto;
    border-radius: 5px;
    border-color: royalblue;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(55, 148, 236);
    list-style-type: none;
    text-decoration: none;
    color: white;
  }

  .active {
    background-color:  rgb(55, 148, 236);
  }
  

.main {
    border: 2px solid royalblue;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;

}


fieldset {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px solid royalblue;
    border-radius: 5px;

}
.containerConfig {
    margin: 20px;
    padding: 20px;
    border: 2px solid royalblue;
    display: none;
    border-radius: 5px;

}

.containerConfig show {
    display: block;
}

h1 {
    margin: auto; 
    padding: 20px;
    text-align: center;
}

#saveConfig {
    display: block;
    margin: 20px;
}

#exitConfig {
    display: block;
    margin: 20px;
}

#example {
    display: inline;
}

.containerResults {
    border: 2px solid royalblue;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;

}

 #specification {
    color: blue;
}

#warning {
    color: red;
}

#showConfig {
    color: blue;
}

footer {
    display: flex;
    justify-content: space-between;
}