.containerTask {
    border: 2px solid royalblue;
    margin: 20px;
    padding: 20px;
    display: none;
    border-radius: 5px;
}

.header {
    /* border: 2px solid gray; */
    margin: 20px;
    padding: 20px;
}

.content {
    border: 2px solid royalblue;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;

}

.footer {
    border: 2px solid royalblue;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
h1 {
    text-align: center;
}


.container {
    border: 2px solid royalblue;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;

}