<!DOCTYPE html>
<html lang="uk-ua">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Andrii Zaharovskyi">

        <title>Lesson JavaScript Fundamental</title>

        <!-- Bootstrap --> 
        <link rel="stylesheet" href="wwwroot/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="wwwroot/lib/bootstrap/css/bootstrap-grid.min.css" />

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="wwwroot/css/sticky-footer.css" />
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <div class="navbar navbar-dark bg-success shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="home" class="navbar-brand d-flex align-items-center">
                        <strong>Home</strong>
                    </a>
                </div>
            </div>
        </header>
        <main role="main" class="flex-shrink-0 my-2 mx-1">
            {content}
        </main>
        <footer class="page-footer text-center fixed-bottom mt-auto py-2">
            <div class="container">
                <span class="text-muted">&copy; 2020 - JAVASCRIPT FUNDAMENTAL</span>
            </div>
        </footer>
    </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="wwwroot/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="wwwroot/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JavaScript -->
    <!-- <script type="module" src="wwwroot/js/index.js"></script> -->
</html>