body {
    background-color: chartreuse;
    text-align: center;
}
form {
    border: 3px solid brown
}
#name, #password, #email, #date_of_birthday, #telephone {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 50%;
    font-size: large;
  }
  button:hover {
    opacity: 0.5;
  }