@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-image: url(../images/sun-pattern.png);
  line-height: normal;
}



form {
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}


#name, #password, #email, #date_of_birthday, #telephone {
  font-size: large;
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  

button {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: large;
  }

  button:hover {
    opacity: 0.5;
  }

  #name:invalid:not(:placeholder-shown), #password:invalid:not(:placeholder-shown), #telephone:invalid:not(:placeholder-shown), #email:invalid:not(:placeholder-shown) {
    border: 2px dashed red;
  }

  #name:valid, #password:valid, #telephone:valid, #email:valid {
      border: 2px solid rgb(17, 92, 230);
  }

.span {
  margin: 2em;
  color: red;
  font-weight: bold;
}

.modal-form-window.error {
  border: 3px solid red;
}

#displayError {
  margin: 0;
}

#showUser {
  margin: auto;
  text-align: center;
}

#response p {
  border: 1px solid black;
  border-radius: 3px;
  background-color: blanchedalmond;
  margin: 20px;
  padding-left: 20px;
}


.modal-form-window {
  width: 400px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .5s ease-in;
  border-radius: 5px;
}

.modal-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s ease-in;
}

.modal-form-window, .modal-form-overlay {
  opacity: 0;
  z-index: -1;
}

.containerForm.open .modal-form-overlay,
.containerForm.open .modal-form-window {
  opacity: 1;
  z-index: 100;
}

.containerForm.hiding .modal-form-overlay,
.containerForm.hiding .modal-form-window {
  opacity: 1;
  z-index: 100;
}

.containerForm.hiding .modal-form-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.containerForm.hiding .modal-form-window {
  background-color: rgba(255, 255, 255, 0);
}

.containerForm.open .modal-form-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.containerForm.open .modal-form-window {
  background-color: rgba(255, 255, 255, 1);
}