@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-image: url(../images/sun-pattern.png);

}

.container {
  max-width: 500px;
  border-radius: 20px;
  background-color: rgb(172, 204, 206);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 20px;
  margin: auto;
  
  
}
form {
    border: 3px solid grey;
    border-radius: 20px;
    
}
.field {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px silver;
}
.field:hover {
  box-shadow: 10px 10px 10px 10px silver;
}
#name, #password, #email, #date_of_birthday, #telephone {
  font-size: large;
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  

button {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: large;
  }
  button:hover {
    opacity: 0.5;
  }
  #name:invalid:not(:placeholder-shown), #password:invalid:not(:placeholder-shown), #telephone:invalid:not(:placeholder-shown), #email:invalid:not(:placeholder-shown) {
    border: 2px dashed red;
  }
  #name:valid, #password:valid, #telephone:valid, #email:valid {
      border: 2px solid rgb(201, 202, 201);
    }
.span {
  margin: 2em;
  color: red;
  font-weight: bold;
}

#showUser {
  margin: auto;
  text-align: center;
}
